

body
{
    /*font-family: "segoe ui light";*/
    font-family: Arial,Helvetica,sans-serif;
    background-color: #40667C;

}

*{
    margin: 0px;
    padding: 0px;
}


/*  ********** nav bar ************/
.navbar{
    background-color:rgba(0,0,0,0.5);
}
/*rgba(64, 102, 124,0.5)*/
.logo{
    margin: 5px;
    width: 170px;
    height:45px;
}
.navbar{
    z-index: 1;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #01A5C5 !important;
}
.social_icons i{
    margin-left: 15px;
}
.youtube:hover{
    color: red!important;
}
.twitter:hover{
    color:  #1DA1F2 !important;
}
.facebook:hover{
    color: #4267B2 !important;
}
.google:hover{
    color: #FF5252 !important;
}








/*        ********************************************************************************************/





.modal-content{
    background-color: transparent;
    border: none;
}





@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

.vldform {
    box-sizing: border-box;
    width: 375px;
    display: flex;
    flex-direction: column;
    padding: 35px 55px;
    font-family: "Nunito Sans";
    animation: a .5s;
    animation-fill-mode: forwards;
    border: #d4d4d4 1px solid;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.vldform a {
    text-decoration: none;
}

.vldform h1 {
    font-size: 40px;
    color: #01a5c5;
    margin: 0px 0px 26px 0px;
}

.vldform__textbox {
    border: 0;
    outline: 0;
    border-bottom: 2px #01a5c5 solid;
    font-size: 18px;
    margin-top: 36px;
    padding-bottom: 9px;
    font-family: "Nunito Sans";
}

.vldform__textbox[type="password"]::after {
    content: " ";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #01a5c5;
    
}

.vldform__recoverypassword{
    align-self: flex-end;
    margin: 10px 0px;
    font-size: 16px;
    color: #01a5c5;
}

.vldform__button {
    margin-top: 42px;
    height: 50px;
    border: 0;
    color: #fff;
    border-radius: 10px;
    background-image: linear-gradient(73deg, rgba(1,165,197,1) 30%, rgba(64,102,124,1) 55%);
    font-size: 22px;
    font-weight: 600;
    font-family: "Nunito Sans";
    cursor: pointer;
}

.vldform__signup {
    align-self: center;
    margin-top: 50px;
    margin-bottom: 0px;
}

.vldform__signup a {
    color: #01a5c5;
    font-weight: 600;
    margin-left: 4px;
}

.vldreg {
    display: none;
}

.vldrecpass {
    display: none;
}

@keyframes a {
    0% {
        opacity: 0;
        transform: translateY(-5px)
    }

    to {
        opacity: 1;
        transform: translateY(5px)
    }
}

@media (max-width: 400px) {
    .vldform {
        width: 350px;
        padding: 20px 40px;
    }
    
}

@media (max-width: 360px) {
    .vldform {
        width: 305px;
        padding: 20px 35px;
    }

    .vldform__signup {
        text-align: center;
    }

    .vldform__signup a {
        margin-left: 14px;
    }
}














/*        ********************************************************************************************/















.add-note
{
    padding-top: 100px;
    padding-bottom: 30px;
}




.contact{
        background-color: #242323;   
}

.social_contact a{
    text-decoration: none;
    color: white;
    margin-left: 15px;
    
}





